/* .analysis-result {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
}

.results-table th {
    background-color: #f2f2f2;
}

.results-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.results-table tr:hover {
    background-color: #ddd;
} */

.analysis-result {
    display: flex;
    flex-direction: column;
    width: 1150px;
    height: 600px;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

.analysis-result__button button {
    padding: 16px 44px;
    border: none;
    border-radius: 7px;
    background: linear-gradient(#ff946d, #ff7d68);
    color: var(--color-white);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}